fieldset {
    position: relative;
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
}

label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    transition: all 0.3s ease;
}

input:focus + label, input:not(:placeholder-shown) + label {
    top: -10px;
    left: 0;
    color: #333;
    font-size: 12px;
}